<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProfile name="default">
        <!-- Console appender -->
        <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
                <layout class="com.mlbeez.feeder.utility.PIIMaskingPatternLayout">
                <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
                </layout>
            </encoder>
        </appender>
        <!-- File appender for general logs -->
        <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>logs/app.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>logs/%d{yyyy-MM-dd}/app.%d{HH}.log</fileNamePattern>
                <maxHistory>30</maxHistory>
            </rollingPolicy>
            <encoder  class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
                <layout class="com.mlbeez.feeder.utility.PIIMaskingPatternLayout">
                <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
                </layout>
            </encoder>
        </appender>
        <!-- File appender for ERROR logs -->
        <appender name="errorFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>logs/error.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>logs/%d{yyyy-MM-dd}/error.%d{HH}.log</fileNamePattern>
                <maxHistory>30</maxHistory>
            </rollingPolicy>
            <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                <level>ERROR</level>
            </filter>
            <encoder  class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
                <layout class="com.mlbeez.feeder.utility.PIIMaskingPatternLayout">
                <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
                </layout>
            </encoder>
        </appender>

        <!-- Root logger configuration -->
        <root level="INFO">
            <appender-ref ref="console"/>
            <appender-ref ref="file"/>
        </root>
<!--        &lt;!&ndash; Specific package logger configuration &ndash;&gt;-->
<!--        <logger name="com.mlbeez.feeder.service" level="ERROR" additivity="false">-->
<!--            <appender-ref ref="console"/>-->
<!--            <appender-ref ref="file"/>-->
<!--        </logger>-->
<!--        <logger name="com.mlbeez.feeder.errorlogservice.InvoicePaymentFailedService" level="ERROR" additivity="false">-->
<!--            <appender-ref ref="console"/>-->
<!--            <appender-ref ref="errorFile"/>-->
<!--            <appender-ref ref="file"/>-->
<!--        </logger>-->
<!--        &lt;!&ndash; Specific logger for ThirdPartyService with INFO level &ndash;&gt;-->
<!--        <logger name="com.mlbeez.feeder.service.ThirdPartyService" level="INFO" additivity="false">-->
<!--            <appender-ref ref="console"/>-->
<!--            <appender-ref ref="file"/>-->
<!--        </logger>-->
<!--        <logger name="com.mlbeez.feeder.service.WebhookService" level="INFO" additivity="false">-->
<!--            <appender-ref ref="console"/>-->
<!--            <appender-ref ref="file"/>-->
<!--        </logger>-->

<!--        &lt;!&ndash; Specific package logger for controller &ndash;&gt;-->
<!--        <logger name="com.mlbeez.feeder.controller" level="INFO" additivity="false">-->
<!--            <appender-ref ref="console"/>-->
<!--            <appender-ref ref="file"/>-->
<!--        </logger>-->

        <!-- Separate loggers for ERROR levels -->
        <logger name="ERROR_LOGGER" level="ERROR" additivity="false">
            <appender-ref ref="errorFile"/>
        </logger>
    </springProfile>
</configuration>
